{% if error != null %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('pignus.login_check') }}" method="post">
    <label for="username">{{ 'pignus.label_username'|trans }}:</label>
    <input type="text" id="username" name="_username" value="{{ username }}">

    <label for="password">{{ 'pignus.label_password'|trans }}:</label>
    <input type="password" id="password" name="_password">

    <button type="submit">{{ 'pignus.button_login'|trans }}</button>
</form>
